<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="panel panel-default">
		<div class="panel-heading">Configurations</div>
		<div class="panel-body">
		  <div class="alert alert-info" ng-show="configs.loading()">Loading...</div>
		  <div class="alert alert-warning" ng-show="configs.all && !configs.all.length">None</div>
		  <table class="table table-condensed config-list">
			<tbody>
			  <tr ng-repeat="config in configs.all track by config._id" class="config">
				<td class="running">
				  <span class="fa fa-fw" ng-class="config.queue.running ? 'fa-spinner fa-spin' : ''"></span>
				</td>
				<td width="100%" class="name">
				  <span ng-class="config.queue.enabled ? '' : 'strike'">{{config.name}}</span>
				</td>
				<td width="8%" nowrap>
				  <button ng-click="configs.setEnabled(config._id, true)" class="btn btn-xs btn-primary" ng-disabled="config.queue.enabled">
					  <span class="fa fa-play"></span>
				  </button>
				  <button ng-click="configs.setEnabled(config._id, false)" class="btn btn-xs btn-primary" ng-disabled="!config.queue.enabled">
					  <span class="fa fa-pause"></span>
				  </button>
				</td>
				<td width="8%" nowrap>
				  <button ng-click="configs.setRepeat(config._id, true)" class="btn btn-xs btn-primary" ng-disabled="config.queue.repeat">
					  <span class="fa fa-repeat"></span>
				  </button>
				  <button ng-click="configs.setRepeat(config._id, false)" class="btn btn-xs btn-primary" ng-disabled="!config.queue.repeat">
					  <span class="fa fa-pause"></span>
				  </button>
				</td>
				<td width="25%" nowrap align="right">
				  <a href="#/config/run/{{config._id}}/" class="fixed-button btn btn-xs btn-primary"><span class="fa fa-bar-chart"></span>Graph</a>
				  <a href="#/config/run/{{config._id}}/list" class="fixed-button btn btn-xs btn-primary"><span class="fa fa-bars"></span>List</a>
				  <a href="#/config/{{config._id}}/edit" class="fixed-button btn btn-xs btn-primary"><span class="fa fa-cog"></span>Edit</a>
				</td>
			  </tr>
			  <tr>
				<td colspan="5" align="right">
				  <a href="#/config/new" class="fixed-button btn btn-xs btn-primary">New...</a>
				</td>
			  </tr>
			</tbody>
		  </table>
		</div>
	  </div>
	</div>
  </div>
</div>
