<div class="container">
  <div class="card">
	<div class="card-header">
	  <span>Configurations</span>
	  <span class="float-right">
		<span class="btn-group">
		  <button type="button" class="fixed-button btn btn-sm btn-primary dropdown-toggle"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New
		  </button>
		  <ul class="dropdown-menu dropdown-menu-right">
			<a class="dropdown-item" ng-repeat="agent in agents" href="#/config/new/{{agent.key}}">{{agent.name}}</a>
		  </ul>
		 </span>
		<span class="btn-group">
		  <button type="button" class="fixed-button btn btn-sm btn-primary dropdown-toggle" title="view settings"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View
		  </button>
		  <div class="dropdown-menu dropdown-menu-right" class="fa-ul">
			<h5 class="dropdown-header">Sort by...</h5>
			<a class="dropdown-item bfa-icon" ng-class="{'fa-check': sort === 'name'}" href="" ng-click="setSort('name')">Name</a>
			<a class="dropdown-item bfa-icon" ng-class="{'fa-check': sort === 'pri'}" href="" ng-click="setSort('pri')">Run order</a>
			<div class="dropdown-divider"></div>
			<h5 class="dropdown-header">Filter</h5>
			<a class="dropdown-item bfa-icon" ng-class="{'fa-check': filter}" href="" ng-click="toggleFilter()">Hide inactive</a>
		  </div>
		</span>
	  </span>
	</div>
	<div class="card-body">
	  <div class="alert alert-info" ng-show="configs.loading()">Loading...</div>
	  <div class="alert alert-warning" ng-cloak ng-show="configs.all && !configs.all.length">None</div>
	  <table class="table table-sm table-striped config-list">
		<tbody>
		  <tr perflab-config-entry ng-repeat="config in configs.all | filter:filterFn | orderBy:predicate track by config._id" class="config" />
		</tbody>
	  </table>
	</div>
  </div>
</div>
