<div class="container">

  <div class="row" ng-show="existing">
	<div class="col-md-12">
      <div class="alert alert-danger alert-dismissable" role="alert">
<b>NB:</b> There are existing results for this configuration.  Please be advised
that editing this configuration may invalidate any comparisons between
pre- and post-edit results.
	  </div>
    </div>
  </div>
  <br ng-show="existing" />

  <div class="row">
	<div class="col-md-12" ng-controller="configTypeController">
	  <div class="panel panel-default">
	  <div class="panel-heading">Configuration</div>
	  <div class="panel-body">
		<form name="configEdit">
		  <div class="form-group form-group-sm">
			<label for="configName">Name</label>
			<input type="text" required class="form-control" id="configName" placeholder="configuration name" ng-model="config.name"/>
		  </div>
		  <div class="form-group form-group-sm">
			<label for="configBranch">Branch / Tag</label>
			<input type="text" required class="form-control" id="configBranch" placeholder="branch / tag" ng-model="config.branch"/>
			<div><input id="configCheckout" type="checkbox" ng-model="config.flags.checkout"><label for="configCheckout">checkout before every run</label></div>
		  </div>
		  <div class="checkbox">
		  </div>
		  <div class="form-group form-group-sm" ng-if="editor.multimode">
			<label for="configMode">Server mode</label>
			<select ng-required="config.mode !== ''" class="form-control" id="configMode" ng-model="config.mode">
			  <option value="">- select mode -</option>
			  <option ng-show="editor.type.auth" value="auth">Authoritative</option>
			  <option ng-show="editor.type.recursive" value="recursive">Recursive</option>
			</select>
		  </div>
		  <div class="form-group form-group-sm">
			<label for="configArgsConfigure">Configure command line options</label><br/>
			<input class="form-control" id="configArgsConfigure" ng-model="config.args.configure" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm">
			<label for="configArgsMake">Make command line options</label><br/>
			<input class="form-control" id="configArgsMake" ng-model="config.args.make" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm">
			<label for="configArgsBind">{{editor.name}} command line options</label>
			<input class="form-control" id="configArgsBind" ng-model="config.args.server" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm" ng-show="editor.options">
			<label for="configOptions">{{editor.options}}</label><br/>
			<textarea class="form-control" id="configOptions" ng-model="config.options" />
		  </div>
		  <div class="form-group form-group-sm" ng-show="editor.global">
			<label for="configGlobal">{{editor.global}}</label><br/>
			<textarea class="form-control" id="configGlobal" ng-model="config.global" />
		  </div>
		  <div class="form-group form-group-sm" ng-show="editor.protocol === 'DNS' && config.mode !== 'recursive'">
			<label for="configZoneset">Zone configuration</label>
			<select required class="form-control" id="configZoneset" ng-model="config.zoneset">
			  <option value="root">Root zone</option>
			  <option value="mega-delegations">1 zone, 1M delegations</option>
			  <option value="kilo-delegations">1 zone, 1k delegations</option>
			  <option value="mega-records">1 zone, 1M A/AAAA records</option>
			  <option value="kilo-records">1 zone, 1k A/AAAA records</option>
			  <option value="mega-small">1M small zones</option>
			  <option value="kilo-small">1k small zones</option>
			</select>
		  </div>
		  <div class="form-group form-group-sm" ng-if="editor.protocol === 'DNS'">
			<label for="configQueryset">{{editor.tester}} Query Set</label>
			<select ng-required class="form-control" id="configQueryset" ng-model="config.queryset">
			  <option value="">- select set -</option>
			  <option ng-if="config.mode !== 'recursive'" value="default">Nominum default</option>
			  <option value="mega-small">1M small zones, 5% NXD</option>
			  <option ng-if="config.mode !== 'recursive'" value="kilo-small">1k small zones, 5% NXD</option>
			</select>
		  </div>
		  <div class="form-group form-group-sm">
			<label for="configArgsTester">extra {{editor.tester}} command line options</label>
			<input class="form-control" id="configArgsTester" ng-model="config.args.tester" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm">
			<label for="configWrapper">exec wrapper and options</label>
			<input class="form-control" id="configWrapper" ng-model="config.wrapper" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group">
			<button type="submit" class="fixed-button btn btn-xs btn-primary" ng-disabled="configEdit.$invalid || configEdit.$pristine || saving" ng-click="save()">
			  <span class="fa fa-fw fa-save"></span>Save</button>
			<button type="submit" class="fixed-button btn btn-xs btn-danger" data-toggle="modal" data-target="#confirm-delete" ng-show="id !== undefined" ng-disabled="saving">
			  <span class="fa fa-trash"></span>Delete...</button>
		  </div>
		</form>
	  </div>
	  </div>
	</div>
  </div>
  <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  <h5 class="modal-title">Confirm Delete</h5>
		</div>
		<div class="modal-body">
		  Please confirm that you want to delete this configuration.  Once deleted all related statistics will be lost.
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
		  <a role="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="delete()">Delete</a>
		</div>
	  </div>
	</div>
  </div>
</div>
