<div class="container">

  <div class="row" ng-show="existing">
	<div class="col-md-12">
	  <div>&nbsp;</div>
	  <div class="alert alert-danger alert-dismissable" role="alert">
<b>NB:</b> There are existing results for this configuration.  Please be advised
that editing this configuration may invalidate any comparisons between
pre- and post-edit results.
	  </div>
	</div>
  </div>
  <br ng-show="existing" />

  <div class="row">
	<div class="col-md-12">
	  <div class="card">
	  <div class="card-header">
	  <span class="float-title">Configuration</span>
	  <span class="float-right">
		<cfg-button-graph ng-cloak ng-show="existing" />
		<cfg-button-list ng-cloak ng-show="existing" />
		<cfg-button-export ng-cloak ng-show="existing" />
	  </span>
	  </div>
	  <div class="card-body">
		<form name="form">
		  <div class="form-group form-group-sm">
			<label for="configName">Name</label>
			<input type="text" required class="form-control" id="configName" placeholder="configuration name" ng-model="config.name"/>
		  </div>
		  <div class="form-group">
			<label for="configNotes">Notes</label><br/>
			<textarea rows="5" class="form-control" id="configNotes" ng-model="config.notes" style="resize: vertical; font-size: 80%"/>
		  </div>
		  <div class="form-group form-group-sm">
			<label for="configBranch">Branch / Tag</label>
			<input type="text" required class="form-control" id="configBranch" placeholder="branch / tag" ng-model="config.branch"/>
			<div>
			  <input id="configCheckout" type="checkbox" ng-model="config.flags.checkout">
			  <label for="configCheckout">checkout before every run ({{:: agent.repo.vcs || "git" | uppercase}} {{:: agent.repo.url }})</label>
			</div>
		  </div>
		  <div class="form-group form-group-sm" ng-if="agent.subtypes && agent.subtypes.length > 1">
			<label for="configMode">Server mode</label>
			<select ng-required="config.mode !== ''" class="form-control" id="configMode" ng-model="config.mode">
			  <option value="">- select mode -</option>
			  <option ng-repeat="type in agent.subtypes" value="{{::type}}">{{::type}}</option>
			</select>
		  </div>
		  <div class="form-group form-group-sm">
			<label for="configArgsConfigure">Configure command line options</label><br/>
			<input class="form-control" id="configArgsConfigure" ng-model="config.args.configure" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm">
			<label for="configArgsMake">Make command line options</label><br/>
			<input class="form-control" id="configArgsMake" ng-model="config.args.make" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm">
			<label for="configArgsServer">{{::agent.name}} command line options</label>
			<input class="form-control" id="configArgsServer" ng-model="config.args.server" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm" ng-show="agent.string.options">
			<label for="configOptions">{{::agent.string.options}}</label><br/>
			<textarea class="form-control" id="configOptions" ng-model="config.options" />
		  </div>
		  <div class="form-group form-group-sm" ng-show="agent.string.global">
			<label for="configGlobal">{{::agent.string.global}}</label><br/>
			<textarea class="form-control" id="configGlobal" ng-model="config.global" />
		  </div>
		  <div class="form-group form-group-sm" ng-show="agent.protocol === 'dns' && config.mode !== 'recursive'">
			<label for="configZoneset">Zone configuration</label>
			<select required class="form-control" id="configZoneset" ng-model="config.zoneset">
			  <option value="root">Root zone</option>
			  <option value="mega-delegations">1 zone, 1M delegations</option>
			  <option value="kilo-delegations">1 zone, 1k delegations</option>
			  <option value="mega-records">1 zone, 1M A/AAAA records</option>
			  <option value="kilo-records">1 zone, 1k A/AAAA records</option>
			  <option value="mega-small">1M small zones</option>
			  <option value="kilo-small">1k small zones</option>
			  <option value="update-empty">2 zones, allow-update, empty</option>
			  <option value="update-megarr">2 zones, allow-update, 1M names with AAAA/PTR+DHCID</option>
			</select>
		  </div>
		  <div class="form-group form-group-sm" ng-if="clients && clients.length > 1">
			<label for="configClient">Test client application</label>
			<select ng-required="config.client !== ''" class="form-control" id="configClient" ng-model="config.client">
			  <option value="">- select client -</option>
			  <option ng-repeat="client in clients" value="{{client.key}}">{{client.name}}</option>
			</select>
		  </div>
		  <div class="form-group form-group-sm" ng-if="agent.protocol === 'dns'">
			<label for="configQueryset">Test client query Set</label>
			<select ng-required class="form-control" id="configQueryset" ng-model="config.queryset">
			  <option value="">- select set -</option>
			  <option ng-if="config.mode !== 'recursive'" value="default">Nominum default</option>
			  <option ng-if="config.mode !== 'recursive'" value="mega-small">1M small zones, 5% NXD</option>
			  <option ng-if="config.mode !== 'recursive'" value="kilo-small">1k small zones, 5% NXD</option>
			  <option ng-if="config.mode !== 'recursive'" value="update-clean-start">UPDATE, expect empty zones (dnsperf -u -n 1)</option>
			  <option ng-if="config.mode !== 'recursive'" value="update-renumber">UPDATE, expect 1M names with AAAA/PTR+DHCID and renumber all of them (dnsperf -u -n 1)</option>
			  <option ng-if="config.mode === 'recursive'" value="mega-small">1M zones, 5% NXD</option>
				<option ng-repeat="set in settings.querysets[config.mode]" value="{{set.file}}">{{set.name}}</option>
			</select>
		  </div>
<div class="form-group form-group-sm">
<button class="fixed-button btn btn-sm dropdown-toggle" data-toggle="collapse" data-target="#advanced">Advanced</button>
</div>
<div id="advanced" class="collapse">
		  <div class="form-group form-group-sm">
			<label for="configRuns">Test client runs per test (0 = use system default)</label>
			<input type="number" min="0" class="form-control" id="configRuns" ng-model="config.testsPerRun" />
		  </div>
		  <div class="form-group form-group-sm">
			<label for="configArgsTester">Extra test client command line options</label>
			<input class="form-control" id="configArgsTester" ng-model="config.args.tester" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm">
			<label for="configWrapper">Server daemon exec wrapper and options</label>
			<input class="form-control" id="configWrapper" ng-model="config.wrapper" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm" ng-show="::agent.canPreConfigure">
			<label for="preConfigure">Pre-configure script</label>
			<input class="form-control" id="preConfigure" ng-model="config.preConfigure" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm" ng-show="::agent.canPreBuild">
			<label for="preBuild">Pre-build script</label>
			<input class="form-control" id="preBuild" ng-model="config.preBuild" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm">
			<label for="preRun">Pre-run script</label>
			<input class="form-control" id="preRun" ng-model="config.preRun" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm">
			<label for="preTest">Pre-test script</label>
			<input class="form-control" id="preTest" ng-model="config.preTest" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm">
			<label for="postTest">Post-test script</label>
			<input class="form-control" id="postTest" ng-model="config.postTest" ng-list=" " ng-trim="false" />
		  </div>
		  <div class="form-group form-group-sm">
			<label for="postRun">Post-run script</label>
			<input class="form-control" id="postRun" ng-model="config.postRun" ng-list=" " ng-trim="false" />
		  </div>
</div>
		  <div class="form-group">
			<span class="btn-group" ng-show="config._id">
			  <span href="" class="fixed-button btn btn-sm btn-primary" ng-click="toggleArchived()">
			    <input type="checkbox" id="archived" ng-model="config.archived"/> Archived
			  </span>
			</span>
			<button class="fixed-button btn btn-sm btn-primary" ng-disabled="form.$invalid || form.$pristine || saving" ng-click="save()">
			  <span class="fas fa-fw fa-save"></span>Save</button>
			<button class="fixed-button btn btn-sm btn-primary" ng-disabled="form.$pristine || saving" ng-click="reset()">
			  <span class="fas fa-fw fa-times-circle"></span>Reset</button>
			<a href="#/config/clone/{{::config.type}}/{{::config._id}}" class="fixed-button btn btn-sm btn-primary" ng-disabled="form.$invalid || form.$dirty || saving" ng-show="config._id !== undefined">
			  <span class="fas fa-fw fa-clone"></span>Clone</a>
			<button class="fixed-button btn btn-sm btn-danger" data-toggle="modal" data-target="#confirm-delete" ng-show="config._id !== undefined" ng-disabled="saving">
			  <span class="fas fa-trash-alt"></span>Delete...</button>
		  </div>
		</form>
	  </div>
	  </div>
	</div>
  </div>
  <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h6 class="modal-title">Confirm Archive</h6>
		  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		</div>
		<div class="modal-body">
		  Please confirm that you want to delete this configuration.<br/>
		  This <u>will</u> permanently remove all related data.
		</div>
		<div class="modal-footer">
		  <button class="btn btn-default btn-outline-primary btn-sm" data-dismiss="modal">Cancel</button>
		  <button class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="delete()">Delete</button>
		</div>
	  </div>
	</div>
  </div>
</div>
