<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="card">
	  <div class="card-header">Log Viewer <span ng-show="hasHosts()">({{host || "All"}})</span>
<div class="btn-group float-right" ng-show="hasHosts()">
<button type="button" class="fixed-button btn btn-sm btn-primary dropdown-toggle" title="host filter settings"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Host
</button>
<div class="dropdown-menu dropdown-menu-right" role="menu">
  <a role="menuitem" class="dropdown-item bfa-icon" ng-repeat="(key, value) in logwatch.output" ng-class="{'fa-check': host === key}" href="" ng-click="setHost(key)">{{key || "All"}}</a>
</div>
</div>
	  </div>
	  <div class="card-body scroll">
		<div class="alert alert-warning" ng-show="lines && !lines.length">None recorded</div>
<pre ng-repeat="line in logwatch.output[host] track by line._id" class="log" ng-class="line.channel">
<div ng-show="line.channel === 'command'">{{line.time}}</div>{{line.text}}</pre>
	    </div>
	  </div>
	</div>
  </div>
</div>
