<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
	<div class="navbar-header">
	  <a class="navbar-brand" href="/"><span class="fas fa-home"></span> ISC Perflab</a>
	  <button ng-controller="beepController" ng-click="beeper.toggleMute()" class="icon-button btn btn-sm btn-primary navbar-btn" title="Sound">
		<span class="fas fa-fw" ng-class="beeper.muted() ? 'fa-bell-slash' : 'fa-bell'"></span>
	  </button>
	  <button ng-click="control.unpause()" class="icon-button btn btn-sm btn-primary navbar-btn" ng-disabled="!control.paused" title="enable queue">
		<span class="fas fa-play"></span>
	  </button>
	  <button ng-click="control.pause()" class="icon-button btn btn-sm btn-primary navbar-btn" ng-disabled="control.paused" title="pause at end of current run">
		<span class="fas fa-pause"></span>
	  </button>
	  <button type="button" class="btn btn-sm navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="navbar-toggler-icon"></span>
	  </button>
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item"><a class="nav-link" href="#/logs/">Logs</a></li>
		<li class="nav-item dropdown">
		  <a id="dropdownStatsButton" class="nav-link dropdown-toggle" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
             Stats
		  </a>
		  <div class="dropdown-menu" ng-controller="statsController" aria-labelleby="dropdownStatsButton">
			<a class="dropdown-item" href="" ng-class="{disabled: !stats.ready()}" ng-click="open()" role="menuitem">Calculate</a>
			<a class="dropdown-item" href="" ng-class="{disabled: stats.empty()}" ng-click="stats.reset()">Clear selection</a>
		  </ul>
		</li>
	  </ul>
	</div>
  </div>
</nav>
<div ng-include src="'partials/stats.html'"></div>
