<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
	<div class="navbar-header" ng-controller="beepController">
	  <a class="navbar-brand" href="/"><span class="fas fa-home"></span> ISC Perflab</a>
	  <button ng-click="beeper.toggleMute()" class="icon-button btn btn-sm btn-primary navbar-btn" title="Sound">
		<span class="fas fa-fw" ng-class="beeper.muted() ? 'fa-bell-slash' : 'fa-bell'"></span>
	  </button>
	  <button ng-click="control.unpause()" class="icon-button btn btn-sm btn-primary navbar-btn" ng-disabled="!control.paused" title="enable queue">
		<span class="fas fa-play"></span>
	  </button>
	  <button ng-click="control.pause()" class="icon-button btn btn-sm btn-primary navbar-btn" ng-disabled="control.paused" title="pause at end of current run">
		<span class="fas fa-pause"></span>
	  </button>
	  <button type="button" class="btn btn-sm navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="navbar-toggler-icon"></span>
	  </button>
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item"><a class="nav-link" href="#/logs/">Logs</a></li>
		<li class="nav-item dropdown">
		  <a id="dropdownStatsButton" class="nav-link dropdown-toggle" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
             Stats
		  </a>
		  <div class="dropdown-menu" ng-controller="statsController" aria-labelleby="dropdownStatsButton">
			<a class="dropdown-item" href="" ng-class="{disabled: !stats.ready()}" ng-click="open()" role="menuitem">Calculate</a>
			<a class="dropdown-item" href="" ng-class="{disabled: stats.empty()}" ng-click="stats.reset()">Clear selection</a>
		  </ul>
		</li>
	  </ul>
	</div>
  </div>
</nav>
<div class="modal fade" id="stats" tabindex="-1" role="dialog" aria-labelledby="calculate" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title">Comparative Statistics</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body" ng-controller="statsResultsController">
		<table width="100%">
		  <tr>
			<td></td>
			<td>Group A</td>
			<td>Group B</td>
		  </tr>
		  <tr>
			<td>Count</td>
			<td>{{data.a.count.toFixed(0)}}</td>
			<td>{{data.b.count.toFixed(0)}}</td>
		  </tr>
		  <tr>
			<td>Median</td>
			<td>{{data.a.median.toFixed(0)}}</td>
			<td>{{data.b.median.toFixed(0)}}</td>
		  </tr>
		  <tr>
			<td>Mean</td>
			<td>{{data.a.mean.toFixed(0)}}</td>
			<td>{{data.b.mean.toFixed(0)}}</td>
		  </tr>
		  <tr>
			<td>Std. Dev</td>
			<td>{{data.a.stddev.toFixed(0)}}</td>
			<td>{{data.b.stddev.toFixed(0)}}</td>
		  </tr>
		  <tr>
			<td>t Score</td>
			<td colspan="2">{{data.t.toFixed(2)}}</td>
		  </tr>
		  <tr>
			<td>p Value</td>
			<td colspan="2">{{data.p}}</td>
		  </tr>
		</table>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">OK</button>
	  </div>
	</div>
  </div>
</div>
