<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="panel panel-default">
		<div class="panel-heading">Runs of configuration "{{config.name}}"
		  <span class="pull-right">
			<a href="#/config/run/{{config._id}}/list" class="fixed-button btn btn-xs btn-primary">
			  <span class="fa fa-bars"></span>List
			</a>
		  </span>
		</div>
		<div class="panel-body">
		  <dygraphs ng-if="graph.data.length" opts="graph.options" data="graph.data"><dygraphs>
		</div>
	  </div>
	</div>
  </div>
</div>
