<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="panel panel-default">
	  <div class="panel-heading">Runs for Configuration {{config_id}}</div>
	  <div class="panel-body">
	  <table class="table table-hover">
		<thead>
		  <tr>
			<th>ID</th>
			<th>Created</th>
			<th>Status</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="run in runs">
			<td class="id"><a href="#/run/test/{{run._id}}/">{{run._id}}</td>
			<td class="created">{{run.created}}</td>
			<td class="status">{{run.status}}</td>
<!--
			<td class="text-right">
			  <a href="#/config/{{config._id}}/edit" class="btn btn-xs btn-primary">Edit</a>
			</td>
-->
		  </tr>
		</tbody>
	  </table>
	  </div>
	  </div>
	  </div>
	</div>
  </div>
</div>
