<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="panel panel-default">
	  <div class="panel-heading">
		<span>Runs of configuration "{{config.name}}" (page {{page}})</span>
		<span class="pull-right">
		  <a href="#/config/run/{{config._id}}/" class="fixed-button btn btn-xs btn-primary">
		  <span class="fa fa-bar-chart"></span>&nbsp;Graph</a>
		</span>
	  </div>
	  <div class="panel-body">
	  <div class="alert alert-warning" ng-show="runs && !runs.length">None recorded</div>
	  <table class="table table-hover" ng-show="runs.length">
		<thead>
		  <tr>
			<th>Time</th>
			<th class="text-right">Tests</th>
			<th class="text-right">QPS</th>
			<th class="text-right">StdDev</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="run in runs">
			<td class="time"><a href="#/run/test/{{run._id}}/">{{run.created}}</td>
			<td class="tests text-right">{{run.stats.count}}</td>
			<td class="average text-right">{{run.stats.average.toFixed(1)}}</td>
			<td class="stddev text-right">{{run.stats.stddev.toFixed(1)}}</td>
		  </tr>
		</tbody>
	  </table>
		<button ng-show="link.prev" type="button" ng-click="search(link.prev)" class="btn btn-xs btn-primary">
		  <span class="fa fa-backward"></span>&nbsp;Newer
		</button>
		<button ng-show="link.next" type="button" ng-click="search(link.next)" class="btn btn-xs btn-primary pull-right">
		  Older&nbsp;<span class="fa fa-forward"></span>
		</button>
	  </div>
	  </div>
	  </div>
	</div>
  </div>
</div>
