<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="panel panel-default">
		<div class="panel-heading">Runs of configuration "{{config.name}}"
		  <span class="pull-right">
			<a href="#/config/run/{{config._id}}/list" class="btn btn-xs btn-primary">
			  <span class="glyphicon glyphicon-list"></span>&nbsp;List
			</a>
		  </span>
		</div>
		<div class="panel-body">
		  <ng-dygraphs ng-if="graph.data.length" options="graph.options" data="graph.data" legend="graph.legend"></ng-dygraphs>
		</div>
	  </div>
	</div>
  </div>
</div>
