<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="card">
		<div class="card-header" ng-show="config.$resolved">
		  Tests of configuration "{{config.name}}" started at {{run.created}}
		  <span class="float-right">
			<cfg-button-edit />
			<run-button-memory />
		  </span>
		</div>
		<div class="card-body">
		  <div class="alert alert-info" ng-show="!tests.$resolved">Loading...</div>
		  <div class="alert alert-warning" ng-show="tests.$resolved && !tests.length">
			None recorded <span ng-show="control.running.run_id === run._id">(build in progress?)<span>
		  </div>
		  <div class="table-responsive-md">
			<table class="table table-sm table-striped" ng-show="tests.length">
			  <thead>
				<tr>
				  <th class="text-right">#</th>
				  <th>Time</th>
				  <th class="text-right">QPS</th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="test in tests track by test._id">
				  <td width="2em" class="text-right">{{$index + 1}}</td>
				  <td class="time"><a href="#/test/{{test._id}}">{{test.created}}</a>{{ ($first && !$last) ? ' (first test, ignored in run statistics)' : '' }}</td>
				  <td class="count text-right">{{test.count === undefined ? '-' : test.count.toFixed(1)}}</td>
				</tr>
			  </tbody>
			</table>
		  </div>
		</div>
	  </div>
	  <div class="card">
		<div class="card-body bg-light" ng-show="run.commit"><pre>{{run.commit}}</pre></div>
	  </div>
	  <div class="card">
		<div class="card-body bg-light" ng-show="run.stdout"><pre class="scroll">{{run.stdout}}</pre></div>
	  </div>
	  <div class="card">
		<div class="card-body bg-light" ng-show="run.stderr"><pre class="scroll">{{run.stderr}}</pre></div>
	  </div>
	</div>
  </div>
</div>
