<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="panel panel-default">
	  <div class="panel-heading">Tests for Run {{run_id}}</div>
	  <div class="panel-body">
	  <div class="alert alert-warning" ng-show="tests && !tests.length">None recorded</div>
	  <table class="table table-hover" ng-show="tests.length">
		<thead>
		  <tr>
			<th>ID</th>
			<th>Created</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="test in tests">
			<td class="id"><a href="#/test/{{test._id}}">{{test._id}}</td>
			<td class="created">{{test.created}}</td>
<!--
			<td class="text-right">
			  <a href="#/config/{{config._id}}/edit" class="btn btn-xs btn-primary">Edit</a>
			</td>
-->
		  </tr>
		</tbody>
	  </table>
	  </div>
	  </div>
	  </div>
	</div>
  </div>
</div>
