---
services:
  mongo:
    build: mongo
    ports:
      - "127.0.0.1:27017:27017"
    command: ["--replSet", "rs"]
    hostname: "mongo"
    restart: always
    healthcheck:
      test: ["CMD", "mongo", "test"]
      interval: 5s
      timeout: 2s
      retries: 5

  perflab_web:
    build:
      context: ..
      dockerfile: Dockerfile.devel
    ports:
      - "127.0.0.1:8000:8000"
      - "127.0.0.1:9222:9222"
    entrypoint: ["/bin/bash", "-c"]
    command: ["/usr/sbin/sshd -D & exec node --inspect=0.0.0.0:9222 /perflab/perflab-httpd.js"]
    depends_on:
      mongo:
        condition: service_healthy
    init: true

  perflab_agent:
    build:
      context: ..
      dockerfile: Dockerfile.devel
    entrypoint: ["/bin/bash", "-c"]
    command: ["/usr/sbin/sshd -D & exec node --inspect=0.0.0.0:9229 /perflab/perflab-tester.js"]
    ports:
      - "127.0.0.1:9229:9229"
    depends_on:
      mongo:
        condition: service_healthy
    init: true

  mongoexpress:
    image: mongo-express
    ports:
      - "127.0.0.1:8081:8081"
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://mongo:27017"
