html, body {
	font-family: verdana;
}

body {
	padding-top: 70px;
}

td.id {
	font-family: "courier";
}

.cssfade.ng-hide {
	transition:0.2s linear all;
	opacity: 0;
}

.table, .alert {
	margin-bottom: 0px;
}

pre.log {
	padding: 0px;
	margin: 0px;
}

.log.stdout, .log.stderr {
	background-color: inherit;
	border: none;
}

.log.command {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 8px;
	font-weight: bold;
}

.log.stderr {
	font-color: red;
}
