body {
	font-family: verdana;
}

.cssfade.ng-hide {
	transition:0.2s linear all;
	opacity: 0;
}

.table, .alert {
	margin-bottom: 0px;
}

.config-list .running {
	padding-left: 0px;
	padding-right: 0px;
}

.strike {
	text-decoration: line-through;
}

.hipri {
	background-color: #f8f8f8;
}

.scroll {
	max-height: 600px;
	overflow-y: auto;
}

.fixed-button, .fixed-button-right {
	min-width: 5.5em;
}

.fixed-button .fa {
	margin-right: 0.5em;
}

.fixed-button-right .fa {
	margin-right: 0em;
	margin-left: 0.5em;
}

pre.log {
	margin: 0px;
	border-radius: 0px;
	border: none;
	padding: 0px 0px 0px 4px;
}

.log.stdout, .log.stderr {
	background-color: inherit;
}

.log.command {
	padding:  10px 0px 10px 8px;
	font-weight: bold;
}

.log.stdout, .log.command {
	border-left: 4px solid #00c000;
}

.log.stderr {
	border-left: 4px solid #c00000;
}

.dygraph-legend {
	opacity: 0.92;
	padding: 4px;
	border-radius: 4px;
	border: 2px solid #404040;
}
