html, body {
	font-family: verdana;
}

body {
	padding-top: 70px;
}

td.id {
	font-family: "courier";
}

.cssfade.ng-hide {
	transition:0.2s linear all;
	opacity: 0;
}

.table, .alert {
	margin-bottom: 0px;
}
